@import '../../icon.scss';
@import '../../color.scss';

.rb-link-wrapper {
    display: table;
    vertical-align: middle;
    .rb-link-text {
        color: $bosch-dark-blue;
        display: table-cell;
        padding-right: 0.5rem;
    }
    .rb-link-icon {
        display: table-cell;
    }
    &:hover {
        .rb-link-text {
            color: $bosch-light-blue-w50;
        }
        .rb-link-icon {
            background: url('../../icons/forward-right-light-blue.svg');
        }
    }
}