@import '../../color.scss';

.rb-radio-wrapper {
    &.horizontal {
        .rb-radio-item {
            display: inline-block;
        }
    }
    .rb-radio-item {
        display: table;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        .rb-radio-circle {
            display: table-cell;
            height: 1.5rem;
            width: 1.5rem;
            border: none;
            border-radius: 50%;
            background-color: $bosch-light-gray-w50;
            margin-right: 1rem;
            cursor: pointer;
            .rb-radio-point {
                border: none;
                border-radius: 50%;
                background-color: transparent;
                height: 0.75rem;
                width: 0.75rem;
                margin: 0.375rem;
            }
        }
        &:hover {
            .rb-radio-circle {
                background-color: $bosch-light-blue-w50;
            }
        }
        &.selected {
            .rb-radio-circle {
                background-color: $bosch-dark-blue;
                .rb-radio-point {
                    background-color: $bosch-white;
                }
            }
            &.disabled .rb-radio-point {
                pointer-events: none;
                background-color: $bosch-light-gray!important;
            }
            &:hover {
                .rb-radio-circle {
                    background-color: $bosch-light-blue-w50;
                }
            }
        }
        &.disabled {
            .rb-radio-circle {
                pointer-events: none;
                background-color: $bosch-light-gray-w75!important;
                .rb-radio-point {
                    pointer-events: none;
                    background-color: $bosch-white;
                }
            }
            .rb-radio-text {
                pointer-events: none;
                .rb-label{
                    color: $bosch-light-gray;
                }
            }
        }
        .rb-radio-text {
            display: table-cell;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            vertical-align: middle;
            cursor: pointer;
        }
        .rb-radio-info {
            position: absolute;
        }
        .rb-radio-more-info {
            
        }
    }
}