// COLORS

// Bosch Red gradations
$bosch-red-w75:#FABFC5;
$bosch-red-w50:#F4808B;
$bosch-red-w25:#EF4050;
$bosch-red:#EA0016;
$bosch-red-b25:#B00010;
$bosch-red-b50:#75000B;
$bosch-red-b75:#3A0006;

// Bosch Fuchsia gradations
$bosch-fuchsia-w75:#EDC0DD;
$bosch-fuchsia-w50:#DC80BA;
$bosch-fuchsia-w25:#CB4198;
$bosch-fuchsia:#B90276;
$bosch-fuchsia-b25:#8B0158;
$bosch-fuchsia-b50:#5D013B;
$bosch-fuchsia-b75:#2E011E;

// Bosch Violet gradations
$bosch-violet-w75:#D3C8DF;
$bosch-violet-w50:#A791BF;
$bosch-violet-w25:#7C5A9F;
$bosch-violet:#50237F;
$bosch-violet-b25:#3C1A5F;
$bosch-violet-b50:#281240;
$bosch-violet-b75:#140920;

// Bosch Dark Blue gradations
$bosch-dark-blue-w75:#BFD5E3;
$bosch-dark-blue-w50:#7FAAC8;
$bosch-dark-blue-w25:#4080AD;
$bosch-dark-blue:#005691;
$bosch-dark-blue-b25:#00406D;
$bosch-dark-blue-b50:#002B49;
$bosch-dark-blue-b75:#001624;

// Bosch Light Blue gradations
$bosch-light-blue-w75:#BFE3F3;
$bosch-light-blue-w50:#7FC6E7;
$bosch-light-blue-w25:#40AADB;
$bosch-light-blue:#008ECF;
$bosch-light-blue-b25:#006A9B;
$bosch-light-blue-b50:#004768;
$bosch-light-blue-b75:#002434;

// Bosch Turquoise gradations
$bosch-turquoise-w75:#BFE9EB;
$bosch-turquoise-w50:#7FD3D7;
$bosch-turquoise-w25:#40BEC4;
$bosch-turquoise:#00A8B0;
$bosch-turquoise-b25:#007E84;
$bosch-turquoise-b50:#005458;
$bosch-turquoise-b75:#002A2C;

// Bosch Light Green gradations
$bosch-light-green-w75:#DDEFC7;
$bosch-light-green-w50:#BBDE8F;
$bosch-light-green-w25:#9ACE58;
$bosch-light-green:#78BE20;
$bosch-light-green-b25:#5A8E18;
$bosch-light-green-b50:#3C5F10;
$bosch-light-green-b75:#1E3008;

// Bosch Dark Green gradations
$bosch-dark-green-w75:#BFD8D1;
$bosch-dark-green-w50:#7FB0A4;
$bosch-dark-green-w25:#408977;
$bosch-dark-green:#006249;
$bosch-dark-green-b25:#004937;
$bosch-dark-green-b50:#003125;
$bosch-dark-green-b75:#001912;

// Bosch Light Gray gradations
$bosch-light-gray-w75:#EFEFF0;
$bosch-light-gray-w50:#DFDFE0;
$bosch-light-gray-w25:#CFD0D1;
$bosch-light-gray:#BFC0C2;
$bosch-light-gray-b25:#8F9091;
$bosch-light-gray-b50:#606061;
$bosch-light-gray-b75:#303031;

// Bosch Dark Gray gradations
$bosch-dark-gray-w75:#D4D7DA;
$bosch-dark-gray-w50:#A8AFB5;
$bosch-dark-gray-w25:#7D8790;
$bosch-dark-gray:#525F6B;
$bosch-dark-gray-b25:#3D4750;
$bosch-dark-gray-b50:#293036;
$bosch-dark-gray-b75:#15181B;

// Bosch Yellow gradations
$bosch-yellow-w75:#FEEBC5;
$bosch-yellow-w50:#FDD78B;
$bosch-yellow-w25:#FDC351;
$bosch-yellow:#FCAF17;
$bosch-yellow-b25:#BD8311;
$bosch-yellow-b50:#7E580C;
$bosch-yellow-b75:#3F2C06;

// Black & White
$bosch-black:#000000;
$bosch-white:#FFFFFF;