@import './_common.scss';
@import '../../bosch-react/style.scss';
@import '../../bosch-react/color.scss';

/* Blur loading background */
.ms-Overlay {
    -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.ms-dialogMainOverride {
    background: transparent;
    border: none;
    box-shadow: none;
    .ms-Modal-scrollableContent {
        background: transparent;
        border: none;
    }
}

/* Loading Circle */
@mixin spinner-circle($name,$margin,$size,$border) {
    .#{$name}-loading .ms-Spinner-circle{
        margin-top: #{$margin}vh;
        margin-bottom: #{$margin}vh;
        width: #{$size}vh;
        height: #{$size}vh;
        border-width: #{$border}px;
    }
}
@include spinner-circle(super, 10, 5, 5);
@include spinner-circle(mega, 15, 10, 5);
@include spinner-circle(ultra, 15, 20, 10);
/* Padding */
.am-input-row,
.common-padding-row{
    padding-top: 5px;
    padding-bottom: 5px;
}
/* Error Message */
.customized-error-message {
    .ms-TextField-errorMessage{
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 12px;
        font-weight: 400;
        color: rgb(164, 38, 44);
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 5px;
        display: flex;
        align-items: center;
    }
    .ms-BasePicker.ms-PeoplePicker {
        // //border-color: rgb(164, 38, 44);
        // font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        color: rgb(164, 38, 44);
        -webkit-font-smoothing: antialiased;
        font-size: 12px;
        font-weight: 400;
        // border-width: 0px;
        // border-style: solid;
        // border-image: initial;
        // border-radius: 2px;
        .ms-BasePicker-text {
            border: none;
            box-shadow: none;
            &:after{
               // border-color: rgb(164, 38, 44);
               color: blue;
                border-width: 0px;
            }
        }
    }
    .ms-TextField-fieldGroup {    
        box-shadow: none;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        box-sizing: border-box;
        cursor: text;
        height: 32px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        position: relative;
        border-width: 1px;
        border-style: solid;
        border-image: initial;
        border-radius: 2px;
        background: rgb(255, 255, 255);
        border-color: rgb(164, 38, 44);
    }
}

/* Support panel */
.support-panel{
    position: fixed;
    bottom: 20px;
    right: 20px;
    .scroll-to-top{
        bottom: 120px;
        @include prefix(user-select, none, webkit moz ms o);
        color: map-get($colors,"grey");
        font-size: 40px;
        text-align: center;
        background-color: transparent;
        opacity: 0.5;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
    }
    .supporter{
        @include prefix(user-select, none, webkit moz ms o);
        color: map-get($colors,"blue-light");
        border: 2px solid map-get($colors,"blue-light");
        border-radius: 50%;
        height: 50px;
        width: 50px;
        font-size: 40px;
        text-align: center;
        background-color: map-get($colors,"white");
        opacity: 0.5;
        cursor: pointer;
        .text {
            color: map-get($colors,"green");
            font-weight: bold;
            font-size: 9px;
            bottom: 25px;
            right: 34px;
            z-index: 2;
            position: fixed;
        }
        &:hover{
            opacity: 1;
            .circle {
                border-radius: 50%;
                background-color: lighten(deepskyblue, 15);
                width: 80px;
                height: 80px;
                opacity: 0;
                animation: scaleIn 1s infinite cubic-bezier(.36, .11, .89, .32);
                position: fixed;
                bottom: 8px;
                right: 8px;
                z-index: -1;
            }
        }
    }
}

/* Management block */

.management-block {
    font-size: 4rem;
    text-align: center;
    border: 2px solid $bosch-light-gray;
    border-bottom: none;
    padding: 1vw 0px;
    margin: 10px 10px 0px 10px;
    background-color: $bosch-dark-blue;
    color: $bosch-white;
    cursor: pointer;
    position: relative;
}
.management-icon
{
    width:6rem!important;
    height:6rem!important;
}
.management-title {
    font-family: $bosch-font!important;
}

.management-title .ms-Nav-linkText {
    font-family: $bosch-font!important;
}

.management-label .management-title {
    font-family :$bosch-font!important;
    text-align: center;
    cursor: pointer;
    margin: 0.25rem 0px;
}
.ms-MessageBar .ms-MessageBar-text{
    font-family: $bosch-font!important;
}
.ms-GroupHeader-title span {
    font-family: $bosch-font!important;
}


// Attachment button
.attachment-button{
    display: table;
    background-color: map-get($colors,"blue-light");
    padding: 8px 12px;
    @include prefix(word-wrap, break-word, webkit moz ms o);
    -ms-word-break: break-all;
    color: map-get($colors,"white");
    cursor: pointer;
    text-align: center;
    @include prefix(user-select, none, webkit moz ms o);
    &:hover{
        background-color: map-get($colors,"blue-light-hover");
    }
}

// Customization dropdown for Bosch Style
.ms-Dropdown-container {
    .ms-Dropdown:focus::after {
        outline: none!important;
        border: none;
    }
    .ms-Dropdown-title {
        height: 3rem;
        font-size: 1rem;
        padding: 1rem;
        padding-top: 0.75rem;
        font-family: $bosch-font-light;
        border: none;
        border-bottom: 1px solid $bosch-light-gray;
    }
    .ms-Dropdown-caretDownWrapper {
        background: url('../../bosch-react/icons/down.svg');
        background-repeat: no-repeat;
        width: 1.5rem;
        height: 1.5rem;
        top: 0.75rem;
        i {
            display: none;
        }
    }
    div[aria-expanded=true] {
        .ms-Dropdown-title {
            background-color: $bosch-light-gray-w75;
        }
    }
}
.ms-Dropdown-items {
    button {
        padding: 1.5rem 1rem;
        font-size: 1rem;
        font-family: $bosch-font-light;
        &[aria-selected=true] {
            background-color: $bosch-dark-blue;
            color: $bosch-white;
        }
        &:hover {
            color: $bosch-white!important;
            background-color: $bosch-light-blue-w50!important;
        }
    }
}
// Customization datepicker for Bosch Style
.ms-DatePicker {
    .ms-TextField-fieldGroup {
        height: 3rem;
        padding: 1rem;
        border: none;
        border-bottom: 1px solid $bosch-light-gray;
        background-repeat: no-repeat;
        background-size: 1.5rem;
        background-position-y: 0.75rem;
        background-position-x: right;
        input {
            padding-left: 0px;
            font-size: 0.75rem;
            font-family: $bosch-font-light;
            
        }
        i {
            margin: -0.5rem 0px;
        }
    }
}
// Customization people picker for Bosch style
.ms-BasePicker.ms-PeoplePicker {
    &:focus-within {
        background-color: $bosch-light-gray-w75;
    }
    .ms-SelectionZone{
        // Input
        .ms-BasePicker-text {
            border: none;
            border-bottom: 1px solid $bosch-light-gray;
            &::after {
                border: none;
            }
            input {
                caret-color: $bosch-light-blue;
                font-family: $bosch-font;
                font-size: 1rem;
                padding: 0.5rem;
            }
        }
        // Data
        .ms-BasePicker-itemsWrapper{
            margin: 0.25rem;
            .ms-PickerPersona-container {
                background-color: $bosch-white;
                border: 1px solid $bosch-black;
                border-radius: 0px!important;
                padding: 0.25rem;
                .ms-Persona-coin {
                    display: none;
                }
                .ms-Persona-primaryText {
                    font-size: 0.75rem;
                    font-family: $bosch-font;
                    color: $bosch-black!important;
                }
                .ms-Button.ms-Button--icon {
                    background-color: $bosch-white;
                    .ms-Button-icon {
                        background-color: $bosch-white;
                        font-size: 0.75rem;
                        color: $bosch-black!important;
                    }
                    :hover {
                        background-color: $bosch-white;
                    }
                }
            }
        }
    }
}
.ms-Suggestions {
    .ms-Suggestions-title {
        font-family: $bosch-font;
        font-size: 0.75rem;
    }
    .ms-Suggestions-container {
        .ms-Suggestions-item {
            .ms-Persona-coin {
                display: none;
            }
            .ms-Persona-details {
                font-family: $bosch-font;
                font-size: 0.75rem;
            }
        }
    }
    .ms-Suggestions-none {
        font-family: $bosch-font;
        font-size: 0.75rem;
    }
}

//Customize Admin page
.header-title{
    color:$bosch-dark-blue!important;
    margin: 1rem 0px 0.5rem 0px;
}
.right-menu-button{
    float:right;
    
}

.rnd-msg{
    color:$bosch-red;
    text-decoration: underline;
    cursor: pointer;
    width: 30vw;
}
//Customize Account Page
.total-list-action-menu .rb-label{
    color:$bosch-light-gray;
}

//Customize Search Result
.truncate .rb-label {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap; 
     
}

.search-result-command-buttons{
    background: $bosch-light-gray-w75;
}

// Hover in properties
.upload-info-icon {
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    &:hover+.upload-info{
        display: inline-block;
        position: absolute;
        margin-top: 1.5rem;
        margin-left: 3rem;
        padding-right: 2rem;
    }
}
.upload-info {
    display: none;
}
.upload-type-options {
    .rb-radio-circle {
        float: left;
        margin-right: 0rem;
    }
    .rb-radio-text {
        float: left;
    }
    .rb-radio-info {
        float: right;
        left: 30vw;
        .upload-type-info {
            .block-info{
                position: relative;
                .select-info-icon{
                    position: absolute;
                }
                .text-info{
                    position: absolute;
                    left: 2rem;
                    width: 40vw;
                    .rb-label {
                        position: absolute;
                    }
                    .closed-info-icon {
                        float: right;
                        margin-right: -1rem;
                        cursor: pointer;
                    }
                }
            }
        }
    }

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .flex-info{
        width:75%;
    }
}

.url-link{
    text-decoration: underline;
    word-break:break-all;
}
.ms-Dialog-header {
    .ms-Dialog-title {
        font-family: $bosch-font!important;
    }
    [class^="topButton"]{
        display: none;
    }


}
.ms-Dialog-content .ms-Dialog-subText{
    font-family: $bosch-font!important;
}


// Upload steps
.upload-steps {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 6rem;
    .step-line {
        display: table-cell;
        vertical-align: top;
        padding-top: 1.75rem;
        z-index: -1;
        .line {
            border-top: 1px solid $bosch-light-gray;
            width: 15vw;
            margin-left: 2rem;
            margin-right: -2rem;
        }
    }
    .upload-step {
        display: table-cell;
        position: relative;
        cursor: pointer;
        z-index: 0;
        .step-group {
            position: absolute;
            .step-circle {
                display: inline-block;
                border-radius: 50%;
                border: 1px solid $bosch-light-gray;
                width: 3.5rem;
                height: 3.5rem;
                text-align: center;
                background-color: $bosch-white;
                &.valid {
                    background-color: $bosch-light-blue-w50;
                    border-color: $bosch-light-gray;
                }
                &.invalid {
                    background-color: $bosch-red;
                    border-color: $bosch-red;
                }
                &.selected {
                    &.valid {
                        background-color: $bosch-dark-blue;
                        border-color: $bosch-dark-blue;
                    }
                }
                &.not-opened {
                    background-color: $bosch-white;
                    border-color: $bosch-light-gray;
                }
            }
            .step-icon {
                margin-top: 0.5rem;
                width: 2.5rem;
                height: 2.5rem;
            }
            .step-label {
                padding-top: 0.5rem;
                display: block;
                text-align: center;
                &.valid {
                    color: $bosch-light-blue-w50;
                }
                &.invalid {
                    color: $bosch-red;
                }
                &.selected {
                    &.valid {
                        color: $bosch-dark-blue;
                    }
                }
                &.not-opened {
                    color: $bosch-light-gray!important;
                }
            }
        }
    }
}

// Upload buttons
.upload-buttons {
    display: block;
    text-align: right;
    padding: 2.5rem 5rem 2.5rem 0px;
}

.error-txt{
    color:$bosch-red!important;
}

.error-field{
    .rb-text-field {
        border-bottom: 1px solid $bosch-red;
    }
    .ms-DatePicker .ms-TextField-fieldGroup{
        border-bottom: 1px solid $bosch-red;
    }
    .ms-Dropdown-container .ms-Dropdown-title {
        border-bottom: 1px solid $bosch-red;
    }

    .ms-BasePicker.ms-PeoplePicker .ms-SelectionZone .ms-BasePicker-text{
        border-bottom: 1px solid $bosch-red;
    }

}
.placeholder-text{
    font-size: 0.75rem!important;
}

.authorDisabled
{
  pointer-events: none;
  opacity: 0.7;
  background-color: $bosch-light-gray-w50;
}

.responsibleDepartmentDisable
{
  pointer-events: none;
  opacity: 0.7;
}

// Customize Link
.url-link-ec {
    text-decoration: none;
    color: $bosch-black !important;
    :hover {
        text-decoration: underline !important;
    } 
}